@font-face {
  font-family: 'Gilroy-Regular';
  src: url('Gilroy-Regular.svg#Gilroy-Regular') format('svg'),
       url('Gilroy-Regular.ttf') format('truetype'),
       url('Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy-regular';
  src: url('gilroy-regular.eot');
  src: url('gilroy-regular.eot?#iefix') format('embedded-opentype'),
       url('gilroy-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

