{{ $author:= .Site.Data.author }}
{{ if (index .Site.Data .Site.Language.Lang).author }}
  {{ $author = (index .Site.Data .Site.Language.Lang).author }}
{{ end }}

{{ $sections:= .Site.Data.sections }}
{{ if (index .Site.Data .Site.Language.Lang).sections }}
  {{ $sections = (index .Site.Data .Site.Language.Lang).sections }}
{{ end }}

{{ $copyrightNotice := "© 2020 Copyright."}}
{{ if (index .Site.Data .Site.Language.Lang).site }}
  {{ $siteConfig := (index .Site.Data .Site.Language.Lang).site }}
  {{ if $siteConfig.copyright }}
    {{ $copyrightNotice = $siteConfig.copyright }}
  {{ end }}
{{ end }}
 <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-4 flex-box">
                        <img class ="footer-logo" src ="assets/images/footer-logo.png" alt="">
                    </div>
                    <div class="col-md-12 col-lg-4 ">
                        <div class ="site-links common-div">
                            <h1>Menu</h1>
                            <ul class="list-unstyled">
                                <li><a href="index.html">Overview</a></li>
                                <li><a href="business-solution.html">Solutions</a></li>
                                <li><a href="product-services.html">Cloud Services</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class ="common-div contacts">
                            <h1>Get in Touch</h1>
                            <ul class ="list-unstyled">
                                <li><a href="tel: (818) 273-5300"><i class ="fa fa-phone"></i> (818) 273-5300</a></li>
                                <li><a href="mailto: contact@eloquentcloud.com"><i class ="fa fa-envelope"></i> contact@eloquentcloud.com</a></li>
                                <li><a href=""><i class ="fa fa-map-marker"></i> PO Box One Agoura Hills, CA 91376</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class ="list-unstyleda footer-note">
                    <li>Copyright © 2020 All rights reserved  | Eloquent Cloud, LLC</li>
                    <li><a href="">Privacy Policy</a>/<a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
        </footer>
    
        <script src="assets/js/jquery-v3.3.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/main.js"></script>
        <script src="assets/js/jquery.matchHeight.js"></script>
        <script type="text/javascript">
            $(function() {
                $('.body-row').matchHeight({byRow:false});
                $('.image-box').matchHeight({byRow:false});
                $('.more').matchHeight({byRow:false});
      });
    </script>
  </body>
</html>