<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ELOQUENT</title>
   <link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="container-fluid nav-container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/images/logo.png">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <img class="menu-button" src="assets/images/menu.png" alt="">
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="main-nav navbar-nav ml-auto">
                        <li class="nav-item main-li">
                            <a href="index.html">Overview</a>
                        </li>
                        <li class="nav-item main-li">
                            <a href="business-solution.html">Business Solutions</a>
                        </li>
                        <li class="nav-item main-li">
                            <a href="product-services.html">LaaS</a>
                        </li>
                        <li class="nav-item main-li">
                            <a href="about.html">About Us</a>
                        </li>
                        <li class="nav-item main-li">
                            <a href="#">Join Now</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main role ="main">
        <section class="page-banner rel bg-common" style="background-image: url('assets/images/faq/faq-banner.jpg');">
            <div class ="container rel z-60 text-center">
                <h1>Key take aways</h1>
                <p>Looking for more information? Read on.</p>
            </div>
        </section>
        <section class ="faq-page faq-list">
            <div class="container">
                <ul class="list-unstyled">
                    <li class ="button-li faq-button">
                        <button >
                           <span class ="text-title">What is Eloquent Cloud?</span>
                            <img src="assets/images/plus.png" alt="">
                        </button>
                        <div class ="faq-content">
                            <p>We are a cloud services company offering managed cloud solutions to start-up, small, medium, and enterprise-level organizations. Eloquent Cloud offers a unique approach, offering a white-glove approach to crafting cloud solutions, a unique membershp benefits program, and a business-frinedly flat-rate pricing model.</p>
                        </div>
                    </li>
                    <li class ="button-li faq-button">
                        <button >
                           <span class ="text-title">Why move to the cloud?</span>
                            <img src="assets/images/plus.png" alt="">
                        </button>
                        <div class ="faq-content">
                            <p>The cloud enables greater agility within your organization, allowing IT to quickly develop and implement virtual solutions for the real world. With cloud, you can easily create resources as you need them, deploying infrastructure configurations in minutes instead of days. </p>
                            <br>
                            <p>The cloud offers cost savings, too. Cloud migration requires no up-front costs, and migrating from the higher capital expenditures of owning your own hardware to an operating expenditure affords you significantly lower technology costs due to economies of scale, as well as valuable OpEx tax deductions.</p>
                        </div>
                    </li>
                    <li class ="button-li faq-button">
                        <button >
                           <span class ="text-title">What is a 'managed' cloud?</span>
                            <img src="assets/images/plus.png" alt="">
                        </button>
                        <div class ="faq-content">
                            <p>A 'managed' cloud provides you a robust team of implementation, support, and security to your environment. By unburdening your IT staff, we can help redirect and streamline your budget.  We’ll provision and maintain your infrastructure, and enforce security to your platform, freeing up your valuable resources.</p>
                        </div>
                    </li>
                    <li class ="button-li faq-button">
                        <button >
                           <span class ="text-title">What is a Cloud Movement membership?</span>
                            <img src="assets/images/plus.png" alt="">
                        </button>
                        <div class ="faq-content">
                            <p>A Cloud Movement membership is an industry first in value-add by a cloud services provider. Your membership is included when signing up for any of our cloud services and offers benefits such as technology & security assessements, thought leadership events, access to develeopment resources, and access to funding and financing opportunites through our network of vetted partners and prefessionals.</p>
                        </div>
                    </li>
                    <li class ="button-li faq-button">
                        <button >
                           <span class ="text-title">I just want cloud services. Do I need the membership?</span>
                            <img src="assets/images/plus.png" alt="">
                        </button>
                        <div class ="faq-content">
                            <p>No. You have do not have to utilize the membership benefits to use Eloquent Cloud's cloud services. Should you change your mind, access to membership features will be made available at any time.</p>
                        </div>
                    </li>
                    <li class ="button-li faq-button">
                        <button >
                           <span class ="text-title">Isn't a bigger cloud like AWS or Azure better?</span>
                            <img src="assets/images/plus.png" alt="">
                        </button>
                        <div class ="faq-content">
                            <p>Clouds have to be big, right? If raw size was the most attractive option, it follows that there must be vast warehouses loaded with computers out there somewhere. Huge warehouses filled with tall racks of machines arranged in endless rows, like a modern digital version of the ending of “Raiders of the Lost Ark.”
                            </p>
                            <br>
                            <p>As it turns out, raw size isn’t always the most attractive option. The machines are pretty much commodity hardware running commodity operating systems and the software can migrate in search of a better option.</p>
                            <br>
                            <p>All of this means that the search for your perfect cloud is not limited to the biggest. Instead, it is often times defined by your business goals. If you are looking to architect and implement your cloud infrastructure from scratch all by yourself... we are not for you. However, if you are looking to drive your company forward by increase efficiency and cutting costs with the help of cloud experts, we just be exactly what you're looking for. </p>
                            <p>Credit to Peter Wayner of InfoWorld for the colorful descriptions and concepts mentioned above.</p>
                        </div>
                    </li>
                    <li class ="button-li faq-button">
                        <button >
                           <span class ="text-title">How do you price your services?</span>
                            <img src="assets/images/plus.png" alt="">
                        </button>
                        <div class ="faq-content">
                            <p>We provide you with a unique and business-friendly approach to pricing our cloud services and solutions. Unlike most who offer a pay-as-you-go model, we offer our members a tier-based flat-rate pricing model designed not penalize you for using more cloud - but instead to help your business grow with a predictable expense that can be budgeted month to month. Your accounting department is going to love us!</p>
                        </div>
                    </li>
                    <li class ="button-li faq-button">
                        <button >
                           <span class ="text-title">How secure is Eloquent Cloud?</span>
                            <img src="assets/images/plus.png" alt="">
                        </button>
                        <div class ="faq-content">
                            <p>Security is our top priority. The truth is that no single security device is enough to secure your data; security requires a multi-layered in-depth approach to security that is designed to protect your business against attacks, but also against threats and vulnerabilities. Our security services fall into three categories – people, operations and technology</p>
                        </div>
                    </li>
                    <li class ="button-li faq-button">
                        <button >
                           <span class ="text-title">What do I do with my old servers, etc. after migrating?</span>
                            <img src="assets/images/plus.png" alt="">
                        </button>
                        <div class ="faq-content">
                            <p>*Queue the drum roll*
                                Eloquent Cloud is pleased to announce our hardware buy-back program! Once your organization has migrated to Eloquent Cloud, we will buy back your old hardware at a reasonable price that will be applied in the form of credit to your account. We'll take care of recycling your old infrastructure safely and responsibly.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class ="subscription">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="content">
                            <h2>LOOKING FOR A TECHNOLOGY PARTNER?</h2>
                            <p>Eloquent and its unique cloud-based tools can help innovate up-and-coming companies.</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 flex-box">
                        <div class ="forms">
                            <input type="email" placeholder="Your email address">
                            <input type="button" value="Subscribe">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main> 
  
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4 flex-box">
                    <img class="footer-logo" src="assets/images/footer-logo.png" alt="">
                </div>
                <div class="col-md-12 col-lg-4 ">
                    <div class="site-links common-div">
                        <h1>Menu</h1>
                        <ul class="list-unstyled">
                            <li><a href="index.html">Overview</a></li>
                            <li><a href="business-solution.html">Solutions</a></li>
                            <li><a href="product-services.html">Cloud Services</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="common-div contacts">
                        <h1>Get in Touch</h1>
                        <ul class="list-unstyled">
                            <li><a href="tel: (818) 273-5300"><i class="fa fa-phone"></i> (818) 273-5300</a></li>
                            <li><a href="mailto: contact@eloquentcloud.com"><i class="fa fa-envelope"></i>
                                    contact@eloquentcloud.com</a></li>
                            <li><a href=""><i class="fa fa-map-marker"></i> PO Box One Agoura Hills, CA 91376</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="list-unstyleda footer-note">
                <li>Copyright © 2020 All rights reserved | Eloquent Cloud, LLC</li>
                <li><a href="">Privacy Policy</a>/<a href="#">Terms & Conditions</a></li>
            </ul>
        </div>
    </footer>

    <script src="assets/js/jquery-v3.3.1.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/main.js"></script>
     <script src="assets/js/jquery.matchHeight.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.body-row').matchHeight({ byRow: false });
            $('.image-box').matchHeight({ byRow: false });
            $('.more').matchHeight({ byRow: false });
        });
    </script>
</body>
</html>