<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>ELOQUENT</title>
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	</head>
	<body>
        <header>
            <div class="container-fluid nav-container">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/images/logo.png">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <img class="menu-button" src="assets/images/menu.png" alt="">
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="main-nav navbar-nav ml-auto">
                            <li class="nav-item main-li">
                                <a href="index.html">Overview</a>
                            </li>
                            <li class="nav-item main-li">
                                <a href="business-solution.html">Business Solutions</a>
                            </li>
                            <li class="nav-item main-li">
                                <a href="product-services.html">LaaS</a>
                            </li>
                            <li class="nav-item main-li">
                                <a href="about.html">About Us</a>
                            </li>
                            <li class="nav-item main-li">
                                <a href="#">Join Now</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main role ="main">
            <section class ="home-banner rel bg-common membership-banner" style="background-image: url('assets/images/membership/membership-banner.jpg');">
                <div class="container">
                    <div class="banner-tagline">
                        <h1>Join the Cloud <br> Movement™</h1>
                    </div>
                </div>
            </section>
            <section class ="page-tagline assestment">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-7 flex-box assestment-box">
                            <h3>ASSESSMENT</h3>
                            <h2>Let's get to know each other.</h2>
                        </div>
                        <div class="col-md-12 col-lg-5">
                            <p>Cloud computing is extremely powerful, and although more people are tapping in every day, the implementation process can still be extremely complicated. But when you join The Cloud Movement, you'll be given a full assessment by our cloud experts before being given a uniquely designed cloud environment specialized for the needs of your organization.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class ="page-tagline benefits-form">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-7">
                            <div class ="membership-list">
                                <h4>Welcome To <br>
                                The Cloud Movement</h4>
                                <div class ="blue-line"></div>
                                <ul class ="list-unstyled">
                                    <li>Included with your Eloquent Cloud account</li>
                                    <li>Excellent source of knowledge & news</li>
                                    <li>New membership benefits added regularly</li>
                                    <li>Completely free to get started</li>
                                </ul>
                                <a href="">Get Started</a>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-5 form-content">
                            <h2>Membership Benefits</h2>
                            <p>The Cloud Movement membership is designed for those that strive for more. While the membership benefits will provide you with valuable tools, services, and information - participating in the exclusive membership community will help further align your technology goals with your overarching business objectives.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class ="subscription cloud-move">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="content">
                                <h2>MEMBERS GET MORE</h2>
                                <p>Enter your email to receive more info on the Cloud Movement.</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 flex-box">
                            <div class ="forms">
                                <input type="email" placeholder="Your email address">
                                <input type="button" value="Subscribe">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class ="simplify-modernize rel design-to-elevate">
                <div class ="container-fluid">
                    <div class="row no-gutters">
                        <div class="col-md-12 col-lg-6">
                            <img class ="section-banners" src="assets/images/membership/group.jpg" alt="">
                        </div>
                        <div class="col-md-12 col-lg-6">
                           <div class ="right-side text-left">
                                <div class ="body-max">
                                    <h1>DESIGNED TO ELEVATE YOU AND YOUR BUSINESS</h1>
                                    <ul class ="list-unstyled">
                                        <li>COMPLIMENTARY CLOUD ASSESSMENT</li>
                                        <li>KNOWLEDGE BASE & THOUGHT LEADERSHIP RESOURCES</li>
                                        <li>HAND-PICKED TECHNOLOGY TOOLS</li>
                                        <li>ACCESS TO VETTED DEVELOPMENT RESOURCES</li>
                                        <li>ACCESS TO A CURATED MARKETPLACE OF CLOUD-BASED TOOLS & APPLICATIONS</li>
                                    </ul>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class ="membership-movement">
                <div class="container">
                    <h1>It's not just a membership. It's a movement.</h1>
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="this-container card">
                                <h2>TECHNOLOGY ASSESSMENTS & AUDITS</h2>
                                <p>Is your IT investment providing the maximum return for your organization? We can conduct comprehensive assessments designed to provide you with answers to these important questions.</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="this-container card">
                                <h2>BUILD SOMETHING NEW</h2>
                                <p>Your membership provides you access to our network of vetted and talented development resources of all sorts that are well-equipped to design, build, implement, and support your technology vision.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class ="subscription">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="content">
                                <h2>LOOKING FOR A TECHNOLOGY PARTNER?</h2>
                                <p>Eloquent and its unique cloud-based tools can help innovate up-and-coming companies.</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 flex-box">
                            <div class ="forms">
                                <input type="email" placeholder="Your email address">
                                <input type="button" value="Subscribe">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-4 flex-box">
                        <img class ="footer-logo" src ="assets/images/footer-logo.png" alt="">
                    </div>
                    <div class="col-md-12 col-lg-4 ">
                        <div class ="site-links common-div">
                            <h1>Menu</h1>
                            <ul class ="list-unstyled">
                                <li><a href="index.html">Overview</a></li>
                                <li><a href="business-solution.html">Solutions</a></li>
                                <li><a href="product-services.html">Cloud Services</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class ="common-div contacts">
                            <h1>Get in Touch</h1>
                            <ul class ="list-unstyled">
                                <li><a href="tel: (818) 273-5300"><i class ="fa fa-phone"></i> (818) 273-5300</a></li>
                                <li><a href="mailto: contact@eloquentcloud.com"><i class ="fa fa-envelope"></i> contact@eloquentcloud.com</a></li>
                                <li><a href=""><i class ="fa fa-map-marker"></i> PO Box One Agoura Hills, CA 91376</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class ="list-unstyleda footer-note">
                    <li>Copyright © 2020 All rights reserved  | Eloquent Cloud, LLC</li>
                    <li><a href="">Privacy Policy</a>/<a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
        </footer>
		
    <script src="assets/js/jquery-v3.3.1.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/main.js"></script>
     <script src="assets/js/jquery.matchHeight.js"></script>
        <script type="text/javascript">
            $(function() {
                $('.body-row').matchHeight({byRow:false});
                $('.image-box').matchHeight({byRow:false});
                $('.more').matchHeight({byRow:false});
			});
		</script>
	</body>
</html>