<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ELOQUENT</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="container-fluid nav-container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/images/logo.png">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <img class="menu-button" src="assets/images/menu.png" alt="">
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="main-nav navbar-nav ml-auto">
                        <li class="nav-item main-li">
                            <a href="index.html">Overview</a>
                        </li>
                        <li class="nav-item main-li">
                            <a href="business-solution.html">Business Solutions</a>
                        </li>
                        <li class="nav-item main-li active">
                            <a href="product-services.html">LaaS</a>
                        </li>
                        <li class="nav-item main-li">
                            <a href="about.html">About Us</a>
                        </li>
                        <li class="nav-item main-li">
                            <a href="#">Join Now</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main role="main">
        <section class="page-banner rel bg-common" style="background-image: url('assets/images/services/services-bg.jpg');">
            <div class ="container rel z-60 text-center">
               <div class="page-caption text-left">
                    <h1>Product & Services</h1>
               </div>
            </div>
            <div class = "pills-container text-center">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="pill" href="#cloud_products" role="tab" aria-controls="cloud_products" aria-selected="true">Cloud Products</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="pill" href="#manage_services" role="tab" aria-controls="pills-manage_services" aria-selected="false">Manage services</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="pill" href="#features" role="tab" aria-controls="pills-features" aria-selected="false">Features</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="pill" href="#management_console" role="tab" aria-controls="pills-managementconsole" aria-selected="false">Management Console</a>
                    </li>
                  </ul>
               </div>
        </section>
       
        <section class="tabs-main-wrapper">
            <div class="container tab-content">
                <div class="tabs-item tab-pane fade show active"  id="cloud_products" role="tabpanel" aria-labelledby="cloudproducts-tab">
                    <div class="tab-header">
                        <h1>Cloud Products</h1>
                    </div>
                    <div class="tabs-item-body">
                        <div class="c-products">
                            <div class="cloud-item">
                                <div class="row">
                                    <div class="col-md-3 col-sm-12">
                                        <h5>Virtual Servers</h5>
                                    </div>
                                    <div class="col-md-9 col-sm-12">
                                        <p> Server virtualization combines the performance and security of having your
                                            own
                                            servers with the cost-efficiency and flexibility of a cloud infrastructure
                                            deployment model. Use it to help ensure maximum availability and performance
                                            of
                                            your business applications and services.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="cloud-item">
                                <div class="row">
                                    <div class="col-md-3 col-sm-12">
                                        <h5>Storage</h5>
                                    </div>
                                    <div class="col-md-9 col-sm-12">
                                        <p> Your business gathers more data daily. Having an enterprise-grade storage
                                            solution that allows you to access, manage, and backup your data securely
                                            will enable your business to evolve and scale with ease.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="cloud-item">
                                <div class="row">
                                    <div class="col-md-3 col-sm-12">
                                        <h5>Database</h5>
                                    </div>
                                    <div class="col-md-9 col-sm-12">
                                        <p> Eloquent Cloud will provide the technology and expertise you need to manage
                                            MySQL®, MongoDB, MariaDB, or Microsoft® SQL Server® databases and optimize
                                            their
                                            performance. Managed services include architecture guidance, administration,
                                            monitoring, and troubleshooting.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="cloud-item">
                                <div class="row">
                                    <div class="col-md-3 col-sm-12">
                                        <h5>Network</h5>
                                    </div>
                                    <div class="col-md-9 col-sm-12">
                                        <p> With built-in tools to proactively monitor network performance and minimize
                                            latency, Eloquent Cloud allows you to host your business-critical
                                            applications
                                            confidently. With a secure network infrascture based on Eloquent's
                                            constantly
                                            adapting network security protocols, your business will be able to scale
                                            securely online.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="cloud-item">
                                <div class="row">
                                    <div class="col-md-3 col-sm-12">
                                        <h5>Remote <br> Desktops</h5>
                                    </div>
                                    <div class="col-md-9 col-sm-12">
                                        <p> Simplify access to your company's work desktops. Regardless of the location
                                            or
                                            device, your team will be able to securely and easily access their work
                                            computer, applications, and content on-demand. The days of investing in new
                                            computers every few years is over. Your desktops will be updated, secured,
                                            and
                                            optimized regularly as part of your managed service solution.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="cloud-item">
                                <div class="row">
                                    <div class="col-md-3 col-sm-12">
                                        <h5>Business <br> Applications</h5>
                                    </div>
                                    <div class="col-md-9 col-sm-12">
                                        Leverage Eloquent Cloud's curated marketplace of tools and applications designed
                                        to increase productivity and efficiency within your organization. Whether it be
                                        a developer tool or a web-based CRM solution, we can configure and implement
                                        exactly what your organization needs.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs-item tab-pane fade"  id="manage_services" role="tabpanel" aria-labelledby="manageservices-tab">
                    <div class="tab-header">
                        <h1>Manage Services</h1>
                    </div>
                    <div class="tabs-item-body">
                        <div class="tabs-item-body">
                            <div class="c-products">
                                <div class="cloud-item">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12">
                                            <h5>Advanced Security</h5>
                                        </div>
                                        <div class="col-md-9 col-sm-12">
                                            <p> Eloquent cloud's suite of ever-advancing security protocols ensure that your business is protected from end to end. Utilizing best in class technology solutions, Eloquent will proactively monitor and alert you to potential threats to your network.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cloud-item">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12">
                                            <h5>Comprehensive Monitoring</h5>
                                        </div>
                                        <div class="col-md-9 col-sm-12">
                                            <p> Comprehensive 24/7/365 monitoring of servers, applications, application dependencies, performance, performance counters, and security.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cloud-item">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12">
                                            <h5>Peace-of-Mind</h5>
                                        </div>
                                        <div class="col-md-9 col-sm-12">
                                            <p> Eloquent Cloud ensures that every aspect of your cloud infrastructure is backed-up, eliminating the potential consequences of a full system failure. We can also maintain offsite backups of all of your data at a select set of data centers located around the country.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cloud-item">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12">
                                            <h5>Technical Support</h5>
                                        </div>
                                        <div class="col-md-9 col-sm-12">
                                            <p> Support is more than just helping you diagnose and fix issues. We are determined to empower you to succeed. We will answer your questions ranging from best practices, guidance on configuration, all the way to break-fix and problem resolution. We are focused on helping you use the cloud in the best possible ways to achieve your business objectives. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs-item tab-pane feature-item fade"  id="features" role="tabpanel" aria-labelledby="features-tab">
                    <div class="tab-header text-center">
                        <h1>Features</h1>
                        <br>
                    </div>
                    <div class="tabs-item-body feature-tab">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 flex-box">
                                <div class ="feature-body text-center">
                                    <img src="assets/images/services/features/security.png" alt="">
                                    <h2>Advanced Security</h2>
                                    <p>Best-in-class security built into your infrastructure solution.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 flex-box">
                                <div class ="feature-body text-center">
                                    <img src="assets/images/services/features/scability.png" alt="">
                                    <h2>Scalabilty</h2>
                                    <p>Every solution we implement is designed for flexibility and the growth of your business. </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 flex-box">
                                <div class ="feature-body text-center">
                                    <img src="assets/images/services/features/expert-management.png" alt="">
                                    <h2>Expert Management</h2>
                                    <p>Leverage the expertise of our cloud professionals who thrive on solving business problems with proven cutting-edge technology solutions.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 flex-box">
                                <div class ="feature-body text-center">
                                    <img src="assets/images/services/features/service-bell.png" alt="">
                                    <h2>Unparalleled Service</h2>
                                    <p>Talented and solution-oriented team members are standing by to provide you with the service and support that you need.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs-item tab-pane fade manage-console"  id="management_console" role="tabpanel" aria-labelledby="management_console-tab">
                    <div class="tabs-item-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-6 flex-box">
                                <div class="manage-body">
                                    <h1>Management Console</h1>
                                    <h2>COMPLETE CLARITY & CONTROL</h2>
                                    <p>Eloquent Cloud's Management Console brings together everything to you in one place.</p>
                                    <br>
                                    <p>With real time performance analytics, security, compliance, tickets, billing, devices, and more, everything you and your team could need is available in this simple easy-to-use portal.</p>
                                    <div class="membership-section">
                                        <h2>A membership with access to all of the above?</h2>
                                        <a href="membership.html">Get Started</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 flex-box">
                                <img src="assets/images/services/manage-console/manage-img.jpg" alt="">
                            </div>
                        </div>
                        <br>                                                                            
                        <div class ="managed-cloud text-center">
                            <h1>MANAGED CLOUD</h1>
                            <h3>/manijed kloud/</h3>
                            <h4>professional service</h4>
                            <div class ="flex-box">
                                <ol class ="common-list"> 
                                    <li>The agility, scalability, and efficiency of cloud computing provided to your 					organization as a professionally managed service.</li>
                                    <li>The benefits of cloud without having to invest the time and resources required to become an expert in everything cloud-related.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="subscription">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="content">
                            <h2>LOOKING FOR A TECHNOLOGY PARTNER?</h2>
                            <p>Eloquent and its unique cloud-based tools can help innovate up-and-coming companies.</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 flex-box">
                        <div class="forms">
                            <input type="email" placeholder="Your email address">
                            <input type="button" value="Subscribe">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4 flex-box">
                    <img class="footer-logo" src="assets/images/footer-logo.png" alt="">
                </div>
                <div class="col-md-12 col-lg-4 ">
                    <div class="site-links common-div">
                        <h1>Menu</h1>
                        <ul class="list-unstyled">
                            <li><a href="index.html">Overview</a></li>
                            <li><a href="business-solution.html">Solutions</a></li>
                            <li><a href="product-services.html">Cloud Services</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="common-div contacts">
                        <h1>Get in Touch</h1>
                        <ul class="list-unstyled">
                            <li><a href="tel: (818) 273-5300"><i class="fa fa-phone"></i> (818) 273-5300</a></li>
                            <li><a href="mailto: contact@eloquentcloud.com"><i class="fa fa-envelope"></i>
                                    contact@eloquentcloud.com</a></li>
                            <li><a href=""><i class="fa fa-map-marker"></i> PO Box One Agoura Hills, CA 91376</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="list-unstyleda footer-note">
                <li>Copyright © 2020 All rights reserved | Eloquent Cloud, LLC</li>
                <li><a href="">Privacy Policy</a>/<a href="#">Terms & Conditions</a></li>
            </ul>
        </div>
    </footer>

    <script src="assets/js/jquery-v3.3.1.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/main.js"></script>
     <script src="assets/js/jquery.matchHeight.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.body-row').matchHeight({ byRow: false });
            $('.image-box').matchHeight({ byRow: false });
            $('.more').matchHeight({ byRow: false });
        });
    </script>
</body>

</html>